/* set fonts*/
@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/static/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/static/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* globals config */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Green-800: rgb(6,63,54);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    font-size: 62.5%;
}

/* body config */
body{
    font-family: 'Karla';
    background: var(--Green-200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    min-height: 100vh;
    padding: 120px 14px 40px;
}

/* section main app */
.formulario{
    background: var(--White);
    border-radius: 16px;    
    width: 332px;
    padding: 32px 24px;
    position: relative;
}

/* section success message */
.formulario__success{
    position: absolute;
    top:-90px;
    left: 20%;
    width: 60%;
    height: 100px;
    background-color: var(--Green-800);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 2s linear;
}

.formulario__success *{
    color: var(--White);
}

.formulario__successmsg{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.formulario__success h1{
    font-size: 1.6rem;
}

.formulario__success p{
    font-size: 1.2rem;
}

/* config section form html*/
.formulario__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2%;
}

.formulario__control--texto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--texto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--texto:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--radio{
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--txtarea{
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--checkbox{
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control--submit{
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulario__control{
     margin-top: 20px; 
}

.formulario__titulo{
    font-size: 3rem;
    user-select: none;
}

.formulario__label{
    display: block;
    font-size: 1.6rem;
    color: var(--Grey-900);
    margin-bottom: 8px;
    user-select: none;
}

.formulario__input{
    width: 100%;
}

.formulario__input--texto{
    border-radius: 8px;
    height:40px;
    outline: none;
    border: 1px solid var(--Grey-500);
    padding: 16px;
    
}

.formulario__input--texto:focus, .formulario__input--txtarea:focus{
    border: 2px solid var(--Green-600);
}

.formulario__input--texto:hover, .formulario__input--txtarea:hover{
    cursor: pointer;
}

.formulario__radio{
    border-radius: 8px;
    border: 1px solid var(--Grey-500);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 32px; 
    position: relative;
}

.formulario__background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    z-index: 1;
    user-select: none;
}

.formulario__control--radio>div div:nth-child(2){
     margin-top:20px; 
}

.formulario__radio:hover{
    cursor: pointer;
}

.formulario__input--radio{
    width: 16px;
    height: 16px;
    accent-color: var(--Green-600);
}

.label__radio{
    padding-left: 32px;
    font-size: 1.6rem;
    color: var(--Grey-900);
}

.formulario__checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.formulario__input--checkbox{
    width: 16px;
    height: 16px;
    accent-color: var(--Green-600);
    cursor: pointer;
}

.formulario__input--txtarea{
    height: 120px;
    border-radius: 8px;
    border: 1px solid var(--Grey-500);
    outline: none;
    font-family: 'Karla';
    padding: 16px;
    resize: none;
}

.formulario__submit{
    width: 100%;
    background-color: var(--Green-600);
    border: none;
    color: var(--White);
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-family: 'Karla';
    font-weight: 800;
    text-transform: capitalize;
}

.formulario__submit:hover{
    background-color: var(--Green-800);
}

/* Error Messages form control*/
.formulario__errmessage{
    display: none;
    color: var(--Red);
}

.label__checkbox{
    font-size: 1.6rem;
    color: var(--Grey-900);
    cursor: pointer;
}

@media screen and (min-width:480px) {
    
}

/* Media queries to screen more than 768px */
@media screen and (min-width:768px){
    .formulario{
        width: 664px;
    }

    .formulario__control--texto:nth-child(1)
    {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .formulario__control--texto:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .formulario__control--radio > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formulario__control--radio>div div:nth-child(2){
        margin-top: 0;
    }

    .formulario__radio{
        width: 49%;
    }

    .formulario__checkbox{
        justify-content: start;
    }

    .formulario__success h1{
        font-size: 1.8rem;
    }
    
    .formulario__success p{
        font-size: 1.4rem;
    }
   
}

@media screen and (min-width:1025px){

}

@media screen and (min-width:1281px){

}